<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head', {title: event.eventName + " Check In"}) %>
  </head>
  <body class="bg-gray">
    <%- include('../partials/header', {title: event.eventName + " Check In"}) %>
    <div class="container content">
      <table class="table table-striped table-dark table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Status</th>
            <th scope="col">Check In</th>
          </tr>
        </thead>
        <tbody>
          <% for(i = 0; i < participants.length; i++){ %>
            <tr>
              <td> <%= participants[i].firstName %></td>
              <td> <%= participants[i].lastName %></td>
              <td> <%= participants[i].checkinStatus %></td>
              <td> <a href="/participants/checkin/<%= event.eventID %>/<%= participants[i].participantID %>">Check In</a> </td>
            </tr>
          <% } %>

        </tbody>
      </table>
      <a href="/participants/<%= event.eventID %>">Return to <%= event.eventName %> participants</a>
      <footer class="footer">
        <%- include('../partials/footer') %>
      </footer>
    </div>

    <%- include('../partials/scripts') %>
  </body>
</html>