<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: title}) %>
</head>

<body>
    <%- include('../partials/header', {title: title}) %>
    <div class="container content">
        <% if (error) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>

        <fieldset>
            <form action="exportData" method="POST" id="exportForm">
                <h3>Choose which attributes to filter events by.</h3>

                <label for="eventNameCheck">Event Name</label>
                <input type="checkbox" id="eventNameCheck" name="eventNameCheck">
                <br>
                <select id="eventNameVal" name="eventNameVal" class="optAttr">
                    <% for(i = 0; i < events.length; i++) { %>
                        <option value="<%= events[i].eventName %>"> <%= events[i].eventName %> </option>
                    <% } %>
                </select>
                <br>

                <label for="eventStatusCheck">Event Status</label>
                <input type="checkbox" id="eventStatusCheck" name="eventStatusCheck">
                <br>
                <select id="eventStatusVal" name="eventStatusVal" class="optAttr">
                    <option value="Unpublished">Unpublished</option>
                    <option value="Registration Open">Registration Open</option>
                    <option value="Registration Closed">Registration Closed</option>
                    <option value="Cancelled">Cancelled</option>
                    <option value="Selection Finished">Selection Finished</option>
                    <option value="Archived">Archived</option>
                </select>
                <br>

                <label for="eventTypeCheck">Event Type</label>
                <input type="checkbox" id="eventTypeCheck" name="eventTypeCheck">
                <br>
                <input type="text" id="eventTypeVal" name="eventTypeVal" class="optAttr">
                <br>

                <label for="managerNameCheck">Manager Name</label>
                <input type="checkbox" id="managerNameCheck" name="managerNameCheck">
                <br>
                <select id="managerNameVal" name="managerNameVal" class="optAttr">
                    <% for(i = 0; i < users.length; i++) { %>
                        <option value="<%= users[i].userID %>"> <%= users[i].firstName + ' ' + users[i].lastName %> </option>
                    <% } %>
                </select>
                <br>

                <label for="creatorNameCheck">Creator Name</label>
                <input type="checkbox" id="creatorNameCheck" name="creatorNameCheck">
                <br>
                <select id="creatorNameVal" name="creatorNameVal" class="optAttr">
                    <% for(i = 0; i < users.length; i++) { %>
                        <option value="<%= users[i].userID %>"> <%= users[i].firstName + ' ' + users[i].lastName %> </option>
                    <% } %>
                </select>
                <br>

                <label for="fileName">Name the output File:</label>
                <input type="text" id="fileName" name="fileName" placeholder="fileName">
                <br>
                <button class="button" id="export" type="submit" value="Export">Export</button>
            </form>
        </fieldset>

        <footer>
            <%- include('../partials/footer') %>
        </footer>

    </div>

    <%- include('../partials/scripts') %>
    <script src="../scripts/exportPage.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</body>

</html>
