<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Edit Registration</title>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div class="container">
        <fieldset class="fieldset">
            <form action=<%= "/editRegistration/" + event.eventID + "/" + participants[0].partyID %> method="post" id="publicSignupform">
                <h1>Edit Registration for: <%=event.eventName%></h1>
                <h2>Date: <%=event.startTime.toLocaleDateString()%></h2>
                <h2>Start Time: <%=utils.trimTimeAMPM(event.startTime.toLocaleTimeString())%></h2>
                <h2>End Time: <%=utils.trimTimeAMPM(event.endTime.toLocaleTimeString())%></h2>
                <p>Events displayed on the public calendars will not be available for registration until their
                    registration windows officially open (typically a few weeks ahead of the event date). If you don't
                    see the event you seek available for selection, check back at a later date.</p>

                <p>For trips open to the public, Parties are selected by lottery when demand is greater than
                    availability (this is typical).
                    Selected registrants will receive email notification before the start of the trip. The first round
                    of selections will usually take place 3 to 2 days ahead of the trip. A final round of selections are
                    usually made the day before, along with the Declines.</p>
                <br>

                <%if(event.eventNotes != null) { %>
                    <h1><%=event.eventNotes%></h1>
                <% } %>
                
                <%if(participants[0].volunteer == true) { %>
                    <h2>Volunteer Information</h2>
                    <div name = "Volunteer Info">
                        <label for="priorVolunteer">Have you been a volunteer before?</label>
                        <select name="priorVolunteer" form="eventSignupForm" required>
                            <option value="false" <% if(participants[0].priorVolunteer == false){ %> <%= "selected" %> <% } %>>No</option>
                            <option value="true" <% if(participants[0].priorVolunteer == true){ %> <%= "selected" %> <% } %>>Yes</option>
                        </select>
                        <br>

                        <label for="roleFamiliarity">Are you familiar with the role?</label>
                        <select name="roleFamiliarity" form="eventSignupForm" required>
                            <option value="false" <% if(participants[0].roleFamiliarity == false){ %> <%= "selected" %> <% } %>>No</option>
                            <option value="true" <% if(participants[0].roleFamiliarity == true){ %> <%= "selected" %> <% } %>>Yes</option>
                        </select>
                    </div>

                <% } %>

                <div class="reginfo">
                    <h2>Registrant Information</h2>
                    <%for(i=0; i < participants.length; i++) { %>
                        <%if(participants[i].participantID == participants[i].partyID) { %>
                        <label for="regfirstname">Registrant First Name:</label>
                        <input type="text" id="regfirstname" name="regfirstname" class = "fname " value=<%= participants[i].firstName %> required>
                        <br>

                        <label for="reglastname">Registrant Last Name:</label>
                        <input type="text" id="reglastname" name="reglastname" class = "lname" value=<%= participants[i].lastName %> required>
                        <br>
                        
                        <label for="regadult">Over 18?</label>
                        <select name="regadult" form="publicSignupform" required>
                            <option value="false" <% if(participants[i].isAdult == false){ %> <%= "selected" %> <% } %>>No</option>
                            <option value="true" <% if(participants[i].isAdult == true){ %> <%= "selected" %> <% } %>>Yes</option>
                        </select>
                        <br>
                        
                        <label for="regswim">Swimmer</label>
                        <select name="regswim" form="publicSignupform" required>
                            <option value="false" <% if(participants[i].canSwim == false){ %> <%= "selected" %> <% } %>>No</option>
                            <option value="true" <% if(participants[i].canSwim == true){ %> <%= "selected" %> <% } %>>Yes</option>
                        </select>
                        <br>
                        
                        <label for="regboat">Boating Experience</label>
                        <select name="regboat" form="publicSignupform" required>
                            <option value="false" <% if(participants[i].boatExperience == false){ %> <%= "selected" %> <% } %>>No</option>
                            <option value="true" <% if(participants[i].boatExperience == true){ %> <%= "selected" %> <% } %>>Yes</option>
                        </select>
                        <br>
                        
                        <label for="regcpr">CPR Certification</label>
                        <select name="regcpr" form="publicSignupform" required>
                            <option value="false" <% if(participants[i].hasCPRCert == false){ %> <%= "selected" %> <% } %>>No</option>
                            <option value="true" <% if(participants[i].hasCPRCert == true){ %> <%= "selected" %> <% } %>>Yes</option>
                        </select>
                        <br>
                        
                        <label for="regemail">Registrant Email:</label>
                        <input type="text" id="regemail" name="regemail" class = "email" value=<%= participants[i].email %> required>
                        <br>
                        
                        <label for="regphone">Registrant Phone Number:</label>
                        <input type="text" id="regphone" name="regphone" class = "phone" value=<%= participants[i].phone %> required>
                        <br>
                        
                        <label for="regename">Registrant Emergency Contact Name:</label>
                        <input type="text" id="regename" name="regename" class = "name" value=<%= participants[i].emergencyName %> required>
                        <br>

                        <label for="regerelation">Registrant Emergency Contact Relationship:</label>
                        <input type="text" id="regerelation" name="regerelation" class = "relation" form = "eventSignupForm" value = <%=participants[i].emergencyRelation%> required>
                        <br>

                        <label for="regephone">Registrant Emergency Contact Phone Number:</label>
                        <input type="text" id="regephone" name="regephone" class = "phone" value=<%= participants[i].emergencyPhone %> required>
                        <br>

                        <% } %>
                    <% } %>
                </div>

                <br>

                <div id="partymembers" form="PublicSignup">
                    <% var partIDs = new Array(); %>
                    <% if(participants.length - 1 > 0) { %>
                        <% for(i=0; i < participants.length; i++){ %>
                            <% if(participants[i].participantID != participants[i].partyID) { %>
                                <div class="partwrapper" id = "part<%= i + 2 %>">
                                    <h2>Party Member <%= i + 2 %></h2>
                                    <label for="part<%= i + 2 %>fname" >Participant <%= i + 2 %> First Name:</label>
                                    <input required type="text" id="part<%= i + 1%>fname" name="part<%= i + 1%>fname" class="fname" value=<%= participants[i].firstName %> disabled>
                                    <br>
                                
                                    <label for="part<%= i + 2 %>lname" >Participant <%= i + 2 %> Last Name:</label>
                                    <input required type="text" id="part<%= i + 1 %>lname" name="part<%= i + 1 %>lname" class="lname" value=<%= participants[i].lastName %> disabled>
                                    <br>
                                
                                    <label for="part<%= i + 2 %>age" >Over 18?</label>
                                    <select required name= "part<%= i + 1 %>age">
                                        <option value="false" <% if(participants[i].isAdult == false){ %> <%= "selected" %> <% } %>>No</option>
                                        <option value="true" <% if(participants[i].isAdult == true){ %> <%= "selected" %> <% } %>>Yes</option>
                                    </select>
                                    <br>
                                
                                    <label for="part<%= i + 2 %>swim" >Can they swim?</label>
                                    <select required name="part<%= i + 1 %>swim">
                                        <option value="false" <% if(participants[i].canSwim == false){ %> <%= "selected" %> <% } %>>No</option>
                                        <option value="true" <% if(participants[i].canSwim == true){ %> <%= "selected" %> <% } %>>Yes</option>
                                    </select>
                                    <br>
                                
                                    <label for="part<%= i + 2 %>boat" >Prior boating experience?</label>
                                    <select required name="part<%= i + 1 %>boat">
                                        <option value="false" <% if(participants[i].boatExperience == false){ %> <%= "selected" %> <% } %>>No</option>
                                        <option value="true" <% if(participants[i].boatExperience == true){ %> <%= "selected" %> <% } %>>Yes</option>
                                    </select>
                                    <br>
                                
                                    <label for="part<%= i + 2 %>cpr" >Do they know CPR?</label>
                                    <select required name="part<%= i + 1 %>cpr">
                                        <option value="false" <% if(participants[i].hasCPRCert == false){ %> <%= "selected" %> <% } %>>No</option>
                                        <option value="true" <% if(participants[i].hasCPRCert == true){ %> <%= "selected" %> <% } %>>Yes</option>
                                    </select>
                                    <br>
                                
                                    <label for="part<%= i + 2 %>email" >Participant <%= i + 2 %> Email:</label>
                                    <input type="text" id="part<%= i + 1%>email" name="part<%= i + 1 %>email" class="email" value=<%= participants[i].email %>>
                                    <br>
                                
                                    <label for="part<%= i + 2 %>phone" >Participant <%= i + 2 %> Phone Number:</label>
                                    <input type="text" id="part<%= i + 1 %>phone" name="part<%= i + 1 %>phone" class="phone" value=<%= participants[i].phone %>>
                                    <br>
                                
                                    <label for="part<%= i + 2 %>ename" >Participant <%= i + 2 %> Emergencey Contact Name:</label>
                                    <input required type="text" id="part<%= i + 1 %>ename" name="part<%= i + 1 %>ename" class="name" value=<%= participants[i].emergencyName %>>
                                    <br>

                                    <label for="part<%= i + 2 %>erelation">Participant <%= i + 2 %> Emergency Contact Relationship:</label>
                                    <input type="text" id="part<%= i + 1 %>erelation" name="part<%= i + 1 %>erelation" class = "relation" form = "eventSignupForm" value = <%=participants[i].emergencyRelation%> required>
                                    <br>
                                
                                    <label for="part<%= i + 2 %>ephone" >Participant <%= i + 2 %> Emergency Contact Phone Number:</label>
                                    <input required type="text" id="part<%= i + 1 %>ephone" name="part<%= i + 1 %>ephone" class="phone" value=<%= participants[i].emergencyPhone %>>
                                    <br>
                                
                                    <% partIDs.push(participants[i].participantID); %>
                                    <input type="hidden" id="part<%= i + 1 %>ID" name="part<%= i + 1 %>ID" value=<%= participants[i].participantID%>>
                                </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div> 

                <br>
                <input type="button" value="Add a Party Member" class="button" id="addpart" />
                <input id = "remove" type = "button" class = "button" value="Remove Last Party Member"/>
                <input type="hidden" id="partIDs" name="partIDs" value=<%= partIDs%>>
                
                <div id="newfields" form="eventSignupForm">
                    <%if(participants[0].metadata != '{}' || participants[0].metadata != null || participants[0].metadata != undefined) { %>
                        <% if((event.eventMetadata != '{}' && event.eventMetadata != null) || (eventType.typeMetadata != '{}' && eventType.typeMetadata != null)) { %> 
                            <h2>Additional Questions</h2>
                        <% } %>
                        <% if(event.eventMetadata != '{}' && event.eventMetadata != null && event.eventMetadata != undefined) { %>
                            <% var md = JSON.parse(event.eventMetadata); var keys = Object.keys(md); var vals = Object.values(md); %>
                            <% for(i=0; i < keys.length; i++){ %>
                                <label for="<%= keys[i] %>"> <%= keys[i] %></label>
                                <% if(vals[i] == "checkbox") { %>
                                <input type="checkbox" id="<%=keys[i] %>" name = "<%=keys[i] %>" value = "true" <%if(metadata[keys[i]] == "true") { %> <%="checked"%> <%}%> > <br>
                                <% } %>
                                <% if(vals[i] == "textbox") { %>
                                    <input type="text" id="<%=keys[i] %>" name = "<%=keys[i] %>" value = <%=metadata[keys[i]]%>> <br>
                                <% } %>
                            <% } %>
                        <% } %>
                        <% if(eventType.typeMetadata != '{}' && eventType.typeMetadata != null && eventType.typeMetadata != undefined) { %>
                            <% var md = JSON.parse(eventType.typeMetadata); var keys = Object.keys(md); var vals = Object.values(md); %>
                            <% for(i=0; i < keys.length; i++){ %>
                                <br>
                                <label for="<%= keys[i] %>"> <%= keys[i] %></label>
                                <% if(vals[i] == "checkbox") { %>
                                    <input type="checkbox" id="<%=keys[i] %>" name = "<%=keys[i] %>" value = "true" <%if(metadata[keys[i]] == "true") { %> <%="checked"%> <%}%> > <br>
                                <% } %>
                                <% if(vals[i] == "textbox") { %>
                                    <input type="text" id="<%=keys[i] %>" name = "<%=keys[i] %>" value = <%=metadata[keys[i]]%>> <br>
                                <% } %>
                            <% } %>
                        <% } %>
                    <% }%>
                </div>

                <div class="discinfo">
                    <h2>Discovery Information</h2>
                    <label for="zip">Zip Code:</label>
                    <input type="text" id="zip" name="zipcode" class ="zip" value=<%= participants[0].zip %>>
                    <br>
                    
                    <label for="eventdiscovery">Event Discovery:</label>
                    <select name="eventdiscovery" form="publicSignupform">
                        <option <%if (participants[0].boathouseDisc == ''){ %> <%="selected"%> <%}%> disabled hidden style='display: none' value=''></option>
                        <option value="callendar" <% if(participants[0].eventDisc == "callendar"){ %> <%= "selected" %> <% } %>>LICCB Calendar</option>
                        <option value="subscriber" <% if(participants[0].eventDisc == "subscriber"){ %> <%= "selected" %> <% } %>>LICCB subscriber Newsletter or direct email</option>
                        <option value="blog" <% if(participants[0].eventDisc == "blog"){ %> <%= "selected" %> <% } %>>LICCB Web Site Blog</option>
                        <option value="facebook" <% if(participants[0].eventDisc == "facebook"){ %> <%= "selected" %> <% } %>>Facebook</option>
                        <option value="instagram" <% if(participants[0].eventDisc == "instagram"){ %> <%= "selected" %> <% } %>>Instagram</option>
                        <option value="twitter" <% if(participants[0].eventDisc == "twitter"){ %> <%= "selected" %> <% } %>>Twitter</option>
                        <option value="nextdoor" <% if(participants[0].eventDisc == "nextdoor"){ %> <%= "selected" %> <% } %>>Next Door</option>
                        <option value="fam" <% if(participants[0].eventDisc == "fam"){ %> <%= "selected" %> <% } %>>Family or Friend</option>
                        <option value="vol" <% if(participants[0].eventDisc == "vol"){ %> <%= "selected" %> <% } %>>Volunteer Referral</option>
                        <option value="press" <% if(participants[0].eventDisc == "press"){ %> <%= "selected" %> <% } %>>Press Publication</option>
                        <option value="web" <% if(participants[0].eventDisc == "web"){ %> <%= "selected" %> <% } %>>Web Search</option>
                        <option value="flier" <% if(participants[0].eventDisc == "flier"){ %> <%= "selected" %> <% } %>>Printed Flier</option>
                        <option value="partner" <% if(participants[0].eventDisc == "partner"){ %> <%= "selected" %> <% } %>>Partner Organization</option>
                        <option value="meeting" <% if(participants[0].eventDisc == "meeting"){ %> <%= "selected" %> <% } %>>Civic Meeting</option>
                        <option value="other" <% if(participants[0].eventDisc == "other"){ %> <%= "selected" %> <% } %>>Other</option>
                    </select>
                    <br>
                    
                    <label for="bhdiscovery">Boat House Discovery:</label>
                    <select name="bhdiscovery" form="publicSignupform">
                        <option <%if (participants[0].boathouseDisc == ''){ %> <%="selected"%> <%}%> disabled hidden style='display: none' value=''></option>
                        <option value="facebook" <% if(participants[0].boathouseDisc == "facebook"){ %> <%= "selected" %> <% } %>>Facebook</option>
                        <option value="instagram" <% if(participants[0].boathouseDisc == "instagram"){ %> <%= "selected" %> <% } %>>Instagram</option>
                        <option value="twitter" <% if(participants[0].boathouseDisc == "twitter"){ %> <%= "selected" %> <% } %>>Twitter</option>
                        <option value="nextdoor" <% if(participants[0].boathouseDisc == "nextdoor"){ %> <%= "selected" %> <% } %>>Next Door</option>
                        <option value="fam" <% if(participants[0].boathouseDisc == "fam"){ %> <%= "selected" %> <% } %>>Family or Friend</option>
                        <option value="vol" <% if(participants[0].boathouseDisc == "vol"){ %> <%= "selected" %> <% } %>>Volunteer Referral</option>
                        <option value="press" <% if(participants[0].boathouseDisc == "press"){ %> <%= "selected" %> <% } %>>Press Publication</option>
                        <option value="web" <% if(participants[0].boathouseDisc == "web"){ %> <%= "selected" %> <% } %>>Web Search</option>
                        <option value="flier" <% if(participants[0].boathouseDisc == "flier"){ %> <%= "selected" %> <% } %>>Printed Flier</option>
                        <option value="partner" <% if(participants[0].boathouseDisc == "partner"){ %> <%= "selected" %> <% } %>>Partner Organization</option>
                        <option value="water" <% if(participants[0].boathouseDisc == "water"){ %> <%= "selected" %> <% } %>>Saw us on the Water</option>
                        <option value="walk" <% if(participants[0].boathouseDisc == "walk"){ %> <%= "selected" %> <% } %>>Just walking by</option>
                        <option value="meeting" <% if(participants[0].boathouseDisc == "meeting"){ %> <%= "selected" %> <% } %>>Civic Meeting</option>
                        <option value="other" <% if(participants[0].boathouseDisc == "other"){ %> <%= "selected" %> <% } %>>Other</option>
                    </select>
                    <br>
                    
                    <label for="notes">Additional Notes:</label>
                    <textarea name="notes" form="publicSignupform"><%= participants[0].regComments %></textarea>
                </div>

                <br>

                <input type="submit" value="Submit Registration">
            </form>
        </fieldset>
    </div>
</body>

<script src="/scripts/addParticipant.js"></script>

</html>