<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: title}) %>
</head>

<body>
  <div class="container signup">
    <h1>List of Events</h1>
    <table class="table" id="eventsTable">
      <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Event Start</th>
            <th scope="col">Event End</th>
            <th scope="col">Event Description</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <% for(i = 0; i < events.length; i++){ %>
        <tr>
            <td> <%=  events[i].eventName %> </td>
            <td> <%=  events[i].startTime.toLocaleDateString() + " " + utils.trimTime(events[i].startTime.toLocaleTimeString()) %> </td>
            <td> <%=  events[i].endTime.toLocaleDateString() + " " + utils.trimTime(events[i].endTime.toLocaleTimeString()) %> </td>
            <td> <%=  events[i].eventDesc %> </td>
            <td>
                <a class="tb-button" href=<%= "/eventSignup/" + events[i].eventID + "/" + volunteerStatus %>>Sign Up</a>

              </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <footer class="footer">
      <%- include('../partials/footer') %>
    </footer>
  </div>
  <br>
  </div>

  <script src="/scripts/jQueryDataTables.js"></script>
</body>
</html>
