<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Event</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
      <% if(event !== null && users !== null){%> 
            <div class="container">
            <fieldset>
                <!-- var Event = function(ename, mname, cap, psize, ptype, stime, etime, slevel, dist, sratio, cid) { -->
                <form action= <%= "/editEvent/" + event.eventID %> method="post" id="eventform">
                <div class="left">
                    <label for="ename">Event Name:</label>
                    <input type="text" id="ename" name="eventname" value=<%= event.eventName %> required>
                    
                    <br>

                    <label for="man">Event Manager:</label>
                    <select name="manager" form="eventform">
                      <% for(i = 0; i < users.length; i++) { %>
                        <option value=<%= users[i].userID %>> <%= users[i].firstName + " " + users[i].lastName %> </option>
                      <% } %>
                    </select>

                    <br>

                    <label for="cap">Capacity:</label>
                    <input type="text" id="cap" name="capacity" value=<%= event.capacity %> required>

                    <br>

                    <label for="psize">Max Party Size:</label>
                    <input type="text" id="psize" name="maxpartysize" value=<%= event.maxPartySize %> required>
                    
                    <br>
                    
                    <label for="ptype">Participation Type:</label>
                    <select id="ptype" name="participationtype" form="eventform">
                        <option value="false"
                        <% if(event.privateEvent == false){ %>
                            <%= "selected" %>
                        <% } %>
                        >Public</option>
                        <option value="true"
                        <% if(event.privateEvent == true){ %>
                            <%= "selected" %>
                        <% } %>
                        >Private</option>
                    </select>
                </div>
                
                <div class="right">
                    <label for="stime">Start Time:</label>
                    <input type="time" id="stime" name="starttime" value=<%= utils.getTime(event.startTime) %> required>

                    <label for="sdate">Start Date:</label>
                    <input type="date" id="sdate" name="startdate" value=<%= utils.getDate(event.startTime) %> required>
                    
                    <br>

                    <label for="etime">End Time:</label>
                    <input type="time" id="etime" name="endtime" value=<%= utils.getTime(event.endTime) %>  required>

                    <label for="edate">End Date:</label>
                    <input type="date" id="edate" name="enddate" value=<%= utils.getDate(event.endTime) %> required>

                    <br>

                    <label for="skill">Skill Level:</label>
                    <select name="skilllevel" form="eventform">
                        <option value="Beginner"  
                            <% if(event.skillLevel == "Beginner"){ %>
                                <%= "selected" %>
                            <% } %>
                            >Novice</option>
                        <option value="Intermediate"
                            <% if(event.skillLevel == "Intermediate"){ %>
                                <%= "selected" %>
                            <% } %>
                        >Intermediate</option>
                            <option value="Difficult" 
                            <% if(event.skillLevel == "Expert"){ %>
                                <%= "selected" %>
                            <% } %>
                        >Expert</option>           
                    </select>
                    <br>

                    <label for="dist">Distance:</label>
                    <input type="text" id="dist" name="distance" value=<%= event.distance %> required>

                    <br>

                    <label for="sratio">Staff Ratio:</label>
                    <input type="text" id="sratio" name="staffratio" value=<%= event.staffRatio %> required>

                    <label for="notes">Notes:</label>
                    <input type="text" id="notes" name="notes" value=<%= event.eventNotes %>>
                </div>

                <div>
                    <input type="submit" value="Update Event" class="center">
                </div>
                </form>
            </fieldset>
            </div>
        <% } %>
  </body>
</html>