<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: title}) %>
</head>

<body class="bg-gray">
  <%- include('../partials/header', {title: title}) %>
  <div class="content">
    <button class="button-left"><a href="createEvent">Create New Event</a></button>
    <label for="archived">Archived</label>
    <input type="checkbox" id="archived" checked=checked>
    <label for="cancelled">Cancelled</label>
    <input type="checkbox" id="cancelled" checked=checked>
    <table class="table" id="eventsTable">
      <thead>
        <% var keys = Object.keys(events[0]) %>
        <tr>
          <th></th>
            <th scope="col">Name</th>
            <th scope="col">Manager</th>
            <th scope="col">Status</th>
            <th scope="col">Private</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
        </tr>
      </thead>
      <tbody>
        <% for(i = 0; i < events.length; i++){ %>
        <tr <%= `class=${events[i].eventStatus}` %>>
          <td>
            <a href=<%= "event/" + events[i].eventID %>>Detail</a> |
            <a href=<%= "editEvent/" + events[i].eventID %>>Edit</a> |
            <a href=<%= "publishEvent/" + events[i].eventID %>>Publish</a> |
            <a href=<%= "archiveEvent/" + events[i].eventID %>>Archive</a> |
            <a href=<%= "cancelEvent/" + events[i].eventID %>>Cancel</a> |
            <a href=<%= "deleteEvent/" + events[i].eventID %>>Delete</a>
          </td>
            <td> <%=  events[i].eventName %> </td>
            <td> <%=  events[i].Manager %> </td>
            <td> <%=  events[i].eventStatus %> </td>
            <td> <%=  events[i].privateEvent %> </td>
            <td> <%=  events[i].startTime %> </td>
            <td> <%=  events[i].endTime %> </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <footer class="footer">
      <%- include('../partials/footer') %>
    </footer>
  </div>
  <br>
  <%- include('../partials/scripts') %>
  <script src="/scripts/filterEvents.js"></script>
  <script src="/scripts/tableSorter.js"></script>
  <script src="/scripts/jQueryDataTables.js"></script>
</body>

</html>
